@{
    ViewBag.Title = "DialogTest";

}

<div id="dialogMessages" class="dialog dialogdetail" style="width: 550px;">
    <div class="dialog-topLine" style="background-color: #34aadc; border-top-left-radius: 3px;
            border-top-right-radius: 3px; height: 40px;">
        <div style="float: left; padding-left: 10px; padding-top: 8px; font-weight: bold">
            <span id="header_dialog_notification" class="header_dialog">test</span>
        </div>
        <div class="dialog-closeButton" onclick="close_message_fd();"></div>
    </div>
    <div class="cnt" style="height: 340px; overflow: auto">
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#dialogMessages').draggable({ handle: ".dialog-topLine" });
            $("#dialogMessages").on("dblclick", function () {
                $(this).css({ 'width':'100%', 'height':'100%', 'top':0, 'left':0, 'margin-left':0, 'margin-top':0 });

            });


        });

    </script>
}

